div{
  transform: translate(0vw,0vh);
  text-align: center;
  font-size: 7vh;
  }
html {
    background:url(background.jpg)
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    color: #2519ff;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: : 1px;
    text-align: center;
}
canvas {
  transform: translate(0vw,0vh);
    width: 60vw;
    height: 60vh;
    border: 2px solid #d3d3d3;
    background-color: #0bffda;
    /*background-color: #135691;*/
    margin: 0px;

}
h1{
    font-feature-settings: normal;
    font-size: 3.5vw;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-variant: small-caps;
    font-style: normal;
    color: #ffe424;
}
#message{
    transform: translate(0,0vh);
    margin: 0px ;
    padding: 0px;
    color: #ff0e16;
}
#message2{
    transform: translate(0,0vh);
    margin: 0px ;
    padding: 0px;
    color: #ff0e16;
}
